#container {
	float: left;
	margin: auto auto;
	width: 100%;
	height: 100%;
	border-style:solid;
	border-width:1px;
}

#content {
	border-style:solid;
	border-width: 1px 0px 0 0px;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	padding: 0px;
	margin: 0px;
	border-style:solid;
	border-width: 1px 1px 0 0;
	width: 130px;
}

ul {
	padding: 0;
	margin-bottom: -1px;
	list-style: none;
}

ul#location {
		margin-bottom: -2px;
		padding-left: 4px;
}
ul#location li {
  list-style: none;
  display: inline;
	border-style:solid;
	border-width: 1px 1px 0 1px;
}

.museum {
	float: left;
	width: 40%;
	height: 100%;
	margin: 0 40px;
	padding-bottom: 10px;

}

.exhibitions {
	float: left;
	width: 500px;
}

#selected {
	background-color: yellow;
}

#description {
	float: left;
}