/** General Style Settings **/
.container {
	border-style:solid;
	border-width:1px;
	margin-top: 10px;
}

.content {
	border-style:solid;
	border-width: 1px 0px 0 0px;
}

a {
	text-decoration: none;
	color: black;
}

/** Navbar **/
ul {
	margin: 0;
	list-style-type: none;
}
li { 
	display: inline;
}

ul.location li {
  list-style: none;
	border-style:solid;
	border-width: 1px 1px 0 1px;
	padding: 1px;
}

.search {
	width: 100px;
}

/** Museum Profile Page **/
.museum {
	float: left;
	width: auto;
	height: auto;
	margin: 10px 40px;
	padding-bottom: 0;
}

#map {
	width: 350px; 
	height: 250px;
	border-style:solid;
	border-width: 1px 1px 1px 1px;
	font-size: 14px;
}

#map a {
	color: #3D3F3E;
	font-weight: bold;
	text-decoration: underline;
}