<h1>Editing museum</h1>

<% form_for(@museum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @museum %> |
<%= link_to 'Back', museums_path %>