<div class="museum">
  <h3>Los Angeles County Museum Of Art</h3>
  <% @ExhibitionsLacma.to_hash.each do |exhibition| %>
  	<%= link_to exhibition[:link_title], exhibition[:url], {:style => "font-weight: bold; font-size: 14px"} %><br />
  <% end %>
</div>
<div class="museum">
  <h3>Hammer Museum</h3>
  <% @ExhibitionsHammer.to_hash.each do |exhibitionHammer| %>
  	<%= link_to exhibitionHammer[:link_title], exhibitionHammer[:url], {:style => "font-weight: bold; font-size: 14px"} %><br />
  <% end %>
</div>